<div class="content">
    <div class="row ">
        <div class="d-flex justify-content-end col-sm-12">
        <div class="container p-3 my-3 border position-relative">
    
          <h2>WELCOME TO FITNESS TRAINEE</h2>
          <p>A personal trainer works one-on-one with a client to develop and implement a fitness training regimen that helps them lose weight, get stronger, improve physical performance or maintain their health. Trainers introduce clients to individualized exercises that are based upon their personal goals, skill level and needs.
              Most personal trainers will offer a free consultation. When measurements will be taken and a training plan put together for you to achieve your agreed goals. This will be your opportunity to see if you feel comfortable with the personal trainer and to ask any questions you may have.
          </p>
           
        </div>
        </div>
        <div class="col-sm-12">
         
        <a href="pc" class="btn display-4  btn-block">Apply for Trainee</a>
       
       </div>
    </div>
 </div> 






